.home-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width: 750px;
    background: #cad2c5;
    border-radius: 10px;
    padding-bottom: 30px;
}

.home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.home-text {
    color: #2f3e46;
    font-size: 48px;
    font-weight: 700;
}

.home-underline {
    width: 61px;
    height: 6px;
    background: #2f3e46;
    border-radius: 9px;
}

.home-submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.home-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #dee2e6;
    background: #2f3e46;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}